*{
    background-color: #e5e5ff; /*color del fondo*/
}
.grand{
    text-shadow: 2px 4px 2px rgba(0,0,0,0.22);
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* tipografia*/ 
    color: #00004a; /*color*/ 
}
.titulo{
    text-align: center;
    color: #00004a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.chic{
    color: #000000;
    text-align: start;
}
h1{
    text-shadow: 2px 3px 0px rgba(0,0,0,0.3);
    text-align: center;
}
img{
	width: 350px;
	height: 250px;
	text-align: center;
	font-size: 150px;
    margin: 80px;
}
.img2{
    width: 250px;
    height: 350px;
    text-align: center;
    font-size: 150px;
}


